#appointment {
    background-color: transparent;
    border-width: 4px;
    border-color: #6666FF;
    color: #6666FF;
    font-size: 24px;
}

#header-contact .col-lg-6 ul{
    font-size: 20px;
    list-style: none;
}
#header-contact input{
    float: right;
    padding-right: 0px;
}


#header .col-lg-6 {
    padding: 0px 75px 0px 75px;
}
#header nav{
    padding:  0px 50px 0px 50px;
    background-image: none;
    background-color: #6666FF;
    color: white;
    align-content: center;
}

#header nav li {
    margin-right: 75px;
    color: white;
    align-content: center;
}
#header nav li h3{ 
    text-transform: uppercase;
}
#header nav li h2 { 
    padding-top: 10px;
}
#header .navbar-default .navbar-nav>li>a {
    color: #fff;
}