/* custom classes*/
.bold {
    font-weight: bold;
}






#header-contact {
    padding: 10px 50px 0px 50px;
}
#appointment {
    background-color: transparent;
    border-width: 4px;
    border-color: #6666FF;
    border-radius: 8px;
    color: #6666FF;
    float: right;   
    text-transform: uppercase;
    padding: 0px 5px 5px 5px;
    width: 100%;
    top: 0px;
    margin-top: 0px;
}
#header-contact .col-lg-6 ul{
    font-size: 20px;
    list-style: none;
    float: right;
    padding: 10px 0px 0px 0px;
}
#header-contact .input-group{
    float: right;
    width: 100%;
}
#header-contact .input-group input{
    font-size: 20px;
} 


#header-nav .col-lg-6 {
    padding: 0px 75px 0px 75px;
}
#header nav{
    padding:  0px 50px 0px 50px;
    background-image: none;
    background-color: #6666FF;
    color: white;
    align-content: center;
    margin-bottom: 0px;
    border-width: 0;
    border-radius: 0;
}
#header-nav .col-lg-12{
    padding: 0;
}
#header nav ul{
    align-content: center;
    width: 100%;
}
#header nav li {
    color: white;
    align-content: center;
}
#header nav li h3{ 
    text-transform: uppercase;
}
#header nav li h2 { 
    padding-top: 10px;
}
#header .navbar-default .navbar-nav>li>a {
    color: #fff;
}


/*Carousel*/
.carousel-inner {
    height: 750px; 
    margin: 0;
}
#carousel .col-lg-12 {
    padding: 0px;
}


.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    top: 20px;
    transform: rotate(15deg);
    border-right: 1.5px solid #ffffff;
    border-left: 1.5px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}
@media (max-width: 1294px) {
    #header .col-lg-6 .col-lg-12 ul li {
        float: right;
    }
}


#support-bar {
    background-color: #6666FF;
}
#support-bar .col-lg-12 {
    padding: 0;
}
#support-bar .col-lg-3 a {
    color: #fff;
    margin: 0;
    padding: 0px 25px 0px 25px;
    align-content: center;
    text-align: center;
}
#support-bar .col-lg-3 a:hover {
    text-decoration: none;
}

#AboutUsMain h3 {
    text-decoration: underline;
    text-transform: uppercase;
}
#AboutUsMain button {
    width: 80%;
    float: left;
}
#AboutUsMain ul {
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
}



footer {
    background-color: saddlebrown;
    padding: 25px;
    text-align: right;
    color: white;
}




